<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    {% for block in section.blocks %}
      <div class="swiper-slide">
        <article>
          <h2>{{ block.settings.slide_title }}</h2>
          <a href="{{ block.settings.button_link }}">{{ block.settings.button_text }}</a>
        </article>
        <img src="{{ block.settings.slide_image | image_url }}" alt="slide-image" width="450" height="450">
      </div>
    {% endfor %}
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>

<style>
  .swiper {
    width: 600px;
    height: 300px;
  }
</style>

<script>
  const swiper = new Swiper('.swiper', {
    // Optional parameters
    direction: 'horizontal',
    loop: true,

    // If we need pagination
    // pagination: {
    //   el: '.swiper-pagination',
    // },

    // Navigation arrows
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },

    // And if we need scrollbar
    scrollbar: {
      el: '.swiper-scrollbar',
    },
  });
</script>

{% schema %}
{
  "name": "Custom Slider",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Esto es el label",
      "default": "Texto por defecto",
      "info": "esto es info del slider",
      "placeholder": "esto es el placeholder"
    }
  ],
  "blocks": [
    {
      "name": "Slide",
      "type": "slide",
      "settings": [
        {
          "type": "text",
          "id": "slide_title",
          "label": "Título del slide"
        },
        {
          "type": "image_picker",
          "id": "slide_image",
          "label": "Imagen de slide"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Texto del botón"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Enlace de botón"
        }
      ]
    }
  ]
}
{% endschema %}
